@media screen and (min-width: 993px) {
  .PP-title {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #043344;
    margin: 0px;
  }
  .PP-Maintitle {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1A938A;
    margin: 0px;

  }
  .PP-descrypt {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #043344;
    margin: 0px;
  }
  .PP-product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
  .PP-heading {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 125%;
    text-align: center;
    color: #1a938a;
    width: 100%;
    text-align: left;
  }
  .PP-style{
    display: flex;
    flex-direction: row;
    /* gap: 29px; */
    margin-bottom: 14px;
  }
  .PP-padding{
    padding-left: 125px;
    margin-top: 77px;
    width: 1240px;
  }
  .padd-left{
    padding-left: 46px;

  }
}

@media screen and (max-width: 992px) {
}



















































