@media screen and (min-width: 993px) {
  .TOF-title {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #043344;
    margin: 0px;
  }
  
  .TOF-descrypt {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #043344;
    margin: 0px;
  }
  .TOF-product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
 
  .TOF-style{
    display: flex;
    flex-direction: row;
    /* gap: 29px; */
    margin-bottom: 14px;
  }
  .TOF-padding{
    padding-left: 125px;
    margin-top: 77px;
    width: 1240px;
  }
  .padd-left{
    padding-left: 46px;

  }
}

@media screen and (max-width: 992px) {
}






























































































