@media screen and (min-width: 992px) {
  .feature5-9image-section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 13px;
  }
  .feature5-9sec7img-size {
    width: 100%;
    height: 183px;
  }
  .feature5-9sec7img-size-mbl{
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .feature5-9sec7img-size {
    display: none;

  }
  .feature5-9sec7img-size-mbl{
    display: block;
  }
  .feature5-9image-section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

  }
}
