@media screen and (min-width: 993px) {
  .feature5-10r1 {
    padding-left: 40px;
    padding-top: 20px;
  }
  .feature5-10r2 {
    font-style: normal;
    font-size: 32px;
    line-height: 133.3%;
    width: 360px;
    color: #043344;
  }
  .feature5-10r3 {
    width: 450px;
    font-style: normal;
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 125%;
    color: #205260;
  }
  .feature5-10r33 {
    width: 450px;
    font-style: normal;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #205260;
  }
  .feature5-10st-css {
    font-style: normal;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #205260;
  }
  .feature5-10r4 {
    width: 174px;
    border: 1px solid #1a938a;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-family: "Satoshi";
    font-size: 18px;
    color: #bec9d0;
  }
  .feature5-10r4:focus::placeholder {
    color: #043344;
  }
  .feature5-10r5:focus::placeholder {
    color: #043344;
  }
  .feature5-10r5 {
    width: 100%;
    border: 1px solid #1a938a;
    border-radius: 4px;
    font-style: normal;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #bec9d0;
    height: 48px;
  }
  .ant-form-item-explain-error {
    padding-left: 30px;
  }
  .feature5-10r6 {
    width: 390px;
    border-radius: 4px;
  }

  .feature5-10zain-1 {
    background: #ec9a2b;
    border-radius: 4px;
    height: 40px;
  }
  .feature5-10r7 {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
  }
  .feature5-10mobile {
    display: none;
  }
  .feature5-10r8 {
    background: #e9edef;
    border-radius: 24px;
    padding: 40px;
    height: 488px;
  }
  .feature5-10r9 {
    padding-bottom: 30px;
    padding-top: 45px;
    padding-left: 80px;
    padding-right: 115px;
  }
  .feature5-10r10 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 992px) {
  .feature5-10mr-0 {
    margin-left: 8px;
  }
  .feature5-10mobile {
    background-color: #e9edef;
    padding-left: 18px;
    padding-top: 40px;
    padding-right: 18px;
    padding-bottom: 40px;
  }
  .feature5-10r7 {
    font-family: "Satoshi";

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
  }
  .feature5-10zain-1 {
    background: #043344;
    border-radius: 4px;
    height: 48px;
    color: #ffffff;
  }
  .feature5-10r1 {
    padding-left: 0px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature5-10desktop {
    display: none;
  }
  .feature5-10r2 {
    width: 95%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133.3%;
    color: #043344;
  }
  .feature5-10Empower p {
    padding-left: 16px;
  }
  .feature5-10r3 {
    width: 92%;
    font-size: 16px;
    /*  */
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    color: #043344;
  }
  .feature5-10r33 {
    display: none;
  }
  .feature5-10r4 {
    width: 150px;
    height: 48px;
  }
  .feature5-10r5 {
    width: 342px;
    height: 48px;
  }
  .feature5-10r05 {
    width: 342px;
    height: 48px;
  }

  .feature5-10r8 {
    background: #093043;
    border-radius: 10px;
  }
  .feature5-10r6 {
    width: 100%;
  }
}
